/*
body {
    
    background-color:#828d9c;
}
.header{
    width:inherit;
    height: 10%;
    background-color:black;
}
.center{    
    width:inherit;
    text-align:center; 
}  
footer{
    
    text-align:center;
    background-color:blue;
    width:inherit;
    height:5%; 
} */
footer > p{
    color:white;
}
form {
    display:inline-block;
    border-radius: 8px;
    text-align:center;
    border: 2px solid black;
    background-color:white;
    box-shadow: 5px 10px 8px #888888;  
    width:40%;
    height:145%;
    margin-top:1%;
    margin-bottom:1%;  
}
table > tbody > tr > td{    
    text-align:center;    
}
.label{
    font-size:15px;
    font-family: "Verdana";
    font-weight:bold;
    text-align:center;

}
.input {
   width: 80%;
   height:5vh;
   border-radius: 8px;
   
}
.submit{
    background-color:burlywood;
    color:white;
}



